:root {
    --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Palatino Linotype', sans-serif !important;
    font-size: var(--step-0);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    margin: 0;
    height: 100vh;
    opacity: 0;
}

body.ready {
    opacity: 1;
    transition: 0.25s opacity;
}

body>main {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: var(--step-0);
}

section#editor-and-viewer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

section#editor,
section#viewer {
    width: 30vw;
    background-color: #bee2f7;
    height: 70vh;
}

fieldset#shacl-xml-output,
fieldset#shacl-rdf-output {
    height: 58vh;
}

/* What is below has to be removed after the header and footer components are added. */
body>header>*,
body>footer>* {
    background-color: #013657;
    color: #ffffff;
    padding: 0;
}

body>header>*,
body>footer>* {
    text-align: center;
}

h5 {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 10px;
}

#shacl-xml-output pre,
#shacl-rdf-output pre {
    font-size: 1rem;
    width: 25vw;
    text-wrap: wrap;
    scroll-behavior: auto;
}

#shacl-xml-output.valid legend::after,
#shacl-rdf-output.valid legend::after {
    content: "[valid]";
    padding-left: 5px;
}

#shacl-xml-output.invalid legend::after,
#shacl-rdf-output.invalid legend::after {
    content: "[not valid]";
    padding-left: 5px;
}

#shacl-xml-output.valid pre,
#shacl-rdf-output.valid pre,
#shacl-xml-output.valid legend::after,
#shacl-rdf-output.valid legend::after {
    color: #272;
}

#shacl-xml-output.invalid pre,
#shacl-rdf-output.invalid pre,
#shacl-xml-output.invalid legend::after,
#shacl-rdf-output.invalid legend::after {
    color: #922;
}

button#save {
    height: 50px;
    width: 50px;
}


/* small screen sizes */
@media only screen and (max-width: 664px) {
    body {
        font-size: 1.1rem;
        padding: 2px;
    }

    header {
        font-size: 10px;
        padding: 0 1px;
    }

    h1.title {
        text-align: justify;
        padding: 10px;
    }

    section#editor-and-viewer {
        flex-direction: column;
    }

    section#editor,
    section#viewer {
        width: 100%;
        height: 70vh;
    }

    fieldset#shacl-xml-output,
    fieldset#shacl-rdf-output {
        height: 65vh;
    }

    button#save {
        height: 40px;
        width: 95vw;
    }
}

/* medium screen sizes */
@media only screen and (max-width: 835px) {
    body {
        font-size: 1.1rem;
        padding: 2px;
    }

    header {
        font-size: 10px;
        padding: 0 1px;
    }

    h1.title {
        text-align: center;
        padding: 10px;
    }

    section#editor-and-viewer {
        flex-direction: column;
    }

    section#editor,
    section#viewer {
        width: 100%;
        height: 70vh;
    }

    fieldset#shacl-xml-output,
    fieldset#shacl-rdf-output {
        height: 65vh;
    }

    button#save {
        height: 40px;
        width: 95vw;
    }
}